<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        <%= title %>
    </title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <h1 id="page-heading"> 
        <i class="fas fa-address-book"></i>
        My Contact List </h1>
    
    <div>
        <ul>
            <% for (let i of contact_list){ %>


            <p id="data">
            <%=i.name%>
            <%=i.phone%>
            </p>

            <div class="delete-button">
                <a href="/delete-contact/?phone=<%=i.phone %>&name=<%=i.name%>">
                   <i class="fa-solid fa-rectangle-xmark" ></i>       
                </a>
            </div>
        
           <% } %>
        </ul>
    </div>


<form id="form" action="/contactlist" method="POST">
<input type="text" name="name" placeholder="Enter name" required>
<input type="number" name="phone" placeholder="Enter phone no." required>
<button type="submit">Add Contact</button>
</form>

<script src="https://kit.fontawesome.com/c1870bd53c.js" 
crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>